body {
    color: #000;
    background-color: #eecf535e;
}

.header {
	background-color: #fff;
}

nav>ul {
	text-align: right;
	padding: 10px 20px;
}

nav>ul>li {
	height: 20px;
	display: inline;
	padding: 10px;
	margin: 0 auto;
	cursor: pointer;
}
nav>ul>li>a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
	font-size: 14px;  
}

.nav>li {
	width: 50%;
	text-align: center;
}

.nav>li>a {
	color:#333;
	text-decoration: none;
}

.form-wrap {
    margin: 0 auto;
}

.row {
	margin: 0px;
	padding: 20px;
}

.col-md-4>div {
	border-radius: 5px;
	border: 1px solid;
	padding: 20px;
	margin-top: 10px;
	margin-left: 10px;
	position: relative;
}

.col-md-4 .form-group {
    width: 100%;
    margin: 0px;
    margin-bottom: 10px 0;
}

.col-md-4:last-child() .form-group {
    border-bottom: solid;
}

hr {
	border-color: #a9a9a9;
	margin: 10px 0;
}

.form-group .col-md-4,  
.form-group .col-md-6,  
.form-group .col-md-7,
.form-group .col-md-9 {
	padding: 0px;
}

.form-group .control-label {
	text-align: left;
	padding-left: 0px;
	cursor: pointer;
}

.form-group .text-align {
	padding-top: 0px;
	line-height: 16px;
}

.form-group .radio-inline {
	padding-top: 0px;
}

.form-group .left-offset {
    padding-left: 24px;
}

.radio-inline + .radio-inline {
	margin-left: 6px; 
}

.type-proffesion> .radio-inline + .radio-inline {
	margin-left: 0px;
}

.left-radio {
    margin-left: 11px;
}

#results {
	visibility: hidden;
}

.form-group .results-label {
	border: 1px solid;
	padding: 5px;
	text-align: center;
}

.addClient {
	width: 100%;
	height: 45px;
	margin-bottom: 0px; 
}

.caption-wrap {
	position: absolute;
	top : -11px;
	left: 13px;
	font-weight: bold;
	background-color: #f8edbf;
}

.mainData> table {
	background-color: #fff;
	width: 100%;
	cursor: pointer;
}

.region-wrap {
	margin-bottom: 0px;
}

.find-alergo-wrap {
	margin-top: 6px;
}

.find-alergo-button {
	width: 100%;
}

#find .col-md-3 {
	border-radius: 5px;
	border: 1px solid;
	padding: 20px;
	position: relative;
}

#accordion, .find-alergo-wrap {
	margin-bottom: 0px;
}