body {
    color: #3a5f3a;
    background-color: #e5f5e8;
}

.header {
	background-color: #5cb85c;
}

nav>ul {
	text-align: right;
	padding: 10px 20px;
}

nav>ul>li {
	height: 20px;
	display: inline;
	padding: 10px;
	margin: 0 auto;
	cursor: pointer;
}
nav>ul>li>a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 14px;  
}

.nav>li {
	width: 50%;
	text-align: center;
	cursor: pointer;
}

.nav>li>a {
	color:#3a5f3a;
	text-decoration: none;
    border-bottom: 1px solid #255625;
    background-color: #e5f5e8;
    cursor: pointer;
}

.nav-tabs>li>a:hover {
	border: 1px solid #255625;
	background-color: #e5f5e8;
	cursor: pointer;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
    background-color: #5cb85c;	
    color: #fff;	
    cursor: pointer;
}

.form-wrap {
    margin: 0 auto;
}

.row {
	margin: 0px;
	padding: 20px;
}

.col-md-4>div {
	border-radius: 5px;
	border: 1px solid #0e680e;
	padding: 20px;
	margin-top: 10px;
	margin-left: 10px;
	position: relative;
}

.col-md-4 .form-group {
    width: 100%;
    margin: 10px 0px;
}

.col-md-4:last-child() .form-group {
    border-bottom: solid;
}

.form-group .col-md-4,  
.form-group .col-md-6,  
.form-group .col-md-7,
.form-group .col-md-9 {
	padding: 0px;
}

.form-group .control-label {
	text-align: left;
	padding-left: 0px;
	cursor: pointer;
}

.form-group .text-align {
	padding-top: 0px;
	line-height: 16px;
}

.form-group .radio-inline {
	padding-top: 0px;
}

.form-group .left-offset {
    padding-left: 24px;
}

.radio-inline + .radio-inline {
	margin-left: 6px; 
}

.type-proffesion> .radio-inline + .radio-inline {
	margin-left: 0px;
}

.left-radio {
    margin-left: 11px;
}

#results {
	visibility: hidden;
}

.form-group .results-label {
	border: 1px solid;
	padding: 5px;
	text-align: center;
	background-color: #e2ab66;
}

.addClient, .find-alergo, .clear-find-inputs {
	width: 100%;
	height: 45px;
	margin-bottom: 0px; 
}

.caption-wrap {
	position: absolute;
	top : -11px;
	left: 13px;
	font-weight: bold;
	background-color: #e5f5e8;
}

.region-wrap {
	margin-bottom: 0px;
}

.find-alergo-wrap {
	margin-top: 6px;
}

.find-alergo-button {
	width: 100%;
}

#find .col-md-3 {
	border-radius: 5px;
	border: 1px solid;
	padding: 20px;
	position: relative;
}

#accordion, .find-alergo-wrap {
	margin-bottom: 0px;
}

.no-data {
    padding: 100px;
    color: #b53e3e;
    font-size: 20px;
    font-weight: bold;
} 

.form-control:focus {
	border-color: #5cb85c;
}

#find .type-proffesion {
	margin-left: 20px;
}

#find .type-proffesion>.radio {
	font-weight: 400;
}

#find .form-group {
	margin-bottom: 10px;
}

#find .form-group>label {
	margin-bottom: 0px;
}

.wrap-border {
	border-bottom: 1px solid #5cb85c;
}

#find .checkbox>.radio {
	margin-bottom: 10px;
}

.wrap-offset {
	margin-top: 0px;
	margin-left: 20px;
}

.wrap-offset>.radio:first-child {
	margin-top: 0px;
}

.autocomplete-items {
	border: 1px solid #d5d9d6;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
}

.wrap-autocomplite:hover {
	color: #5cb85c;
}

.load-wrap, .data-wrap {
	display: none;
}

.load-wrap, .msg-wrap {
    text-align: center;
    padding: 130px 0;
    color: #439643;
}

.table-wrap {
	overflow-x: scroll;
	padding: 0px 10px; 
    max-height: 800px;
}

.table-wrap> table {
	background-color: #fff;
	cursor: pointer;
	width: 100%;
}

.data-download {
	float: right;
	margin: 10px; 
}

.user-list {
	overflow-y: scroll;
	max-height: 800px;  
	min-height: 100px;  
}

.user-list-item {
	border-bottom: solid 2px #0e680c;
    background-color: #fff;
    padding: 5px;
    color: #3a5f88;
    font-weight: bold;
}

.user-list-item:hover {
	outline: solid 2px #0e680c;
}